<p>
  <strong>Клиент:</strong>
  <%= @visit.client.name %>, тел - <%= @visit.client.phone %>
</p>

<p>
  <strong>Время визита:</strong>
  <%= @visit.datetime.strftime('%Y.%m.%d %H:%M') %>
</p>

<p>
  <strong>Цена визита:</strong>
  <%= @visit.visit_price %>
</p>

<p>
  <strong>Примечание:</strong>
  <%= @visit.note %>
</p>

<%= link_to 'Изменить эту запись', edit_visit_path(@visit), class: 'btn btn-outline-warning' %> |
<%= link_to 'Посмотреть все', visits_path, class: 'btn btn-outline-secondary' %>
