<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @user.admin %>
</p>

<% if policy(@user).update? %>
  <%= link_to 'Изменить эту запись', edit_user_path(@user), class: 'btn btn-outline-warning' %> |
  <%= link_to 'Посмотреть все', users_path, class: 'btn btn-outline-secondary' %>
<% end %>
