<p>
  <strong>Имя:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Телефон:</strong>
  <%= @client.phone %>
</p>

<p>
  <strong>Примечание:</strong>
  <%= @client.note %>
</p>

<%= link_to 'Изменить эту запись', edit_client_path(@client), class: 'btn btn-outline-warning' %> |
<%= link_to 'Посмотреть все', clients_path, class: 'btn btn-outline-secondary' %>
