<p>
  <strong>Тип расхода:</strong>
  <%= @expense.type_id %>
</p>

<p>
  <strong>Название:</strong>
  <%= @expense.name %>
</p>

<p>
  <strong>Цена:</strong>
  <%= @expense.price %>
</p>

<p>
  <strong>Примечание:</strong>
  <%= @expense.note %>
</p>

<p>
  <strong>Дата расхода:</strong>
  <%= @expense.datetime %>
</p>


<%= link_to 'Изменить эту запись', edit_expense_path(@expense) , class: 'btn btn-outline-warning' %> |
<%= link_to 'Посмотреть все', expenses_path, class: 'btn btn-outline-secondary' %>
